@charset 'utf-8';
a {
  cursor: pointer;
}
a:hover {
  color: #FF4400;
  text-decoration: none;
}
a.picBox {
  display: block;
}
html,
body {
  height: 100%;
  width: 100%;
  font-size: 14px;
}
ul,
ol,
li {
  list-style: none;
}
button i {
  font-size: 12px;
  margin-right: 5px;
}
/*通用调整*/
.container {
  margin: 0;
  padding: 0;
  height: 100% !important;
  width: 100% !important;
  max-width: 100% !important;
  overflow: hidden;
}
.container .row {
  margin: 0;
  padding: 0;
}
.container .m_left {
  width: 240px;
  height: 100%;
  background: #222;
}
.container .m_left .logo {
  height: 50px;
  line-height: 50px;
  text-align: center;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.7);
  -o-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.7);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.7);
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
}
.container .m_left .menuBox {
  min-height: 600px;
  overflow-y: auto;
}
.container .m_left .menuBox dl {
  font-size: 14px;
  margin: 0;
}
.container .m_left .menuBox dt {
  position: relative;
}
.container .m_left .menuBox dt a {
  color: #d6d6d6;
  display: block;
  height: 40px;
  line-height: 37px;
  border-left: 4px solid #222;
  padding-left: 37px;
  overflow: hidden;
}
.container .m_left .menuBox dt a:hover {
  border-color: #FF4400;
  color: #ffffff;
}
.container .m_left .menuBox dt a::before {
  position: absolute;
  line-height: 40px;
  height: 100%;
  left: 10px;
  margin-right: 10px;
}
.container .m_left .menuBox dt i {
  position: absolute !important;
  cursor: pointer;
  height: 40px;
  line-height: 40px;
  font-size: 12px;
  right: 20px;
  top: 0;
  color: #ffffff;
  -webkit-transition: all 0.3s linear 0s;
  -moz-transition: all 0.3s linear 0s;
  -ms-transition: all 0.3s linear 0s;
  -o-transition: all 0.3s linear 0s;
  transition: all 0.3s linear 0s;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
}
.container .m_left .menuBox dt i.rotate {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
.container .m_left .menuBox dt.active a {
  color: #fff;
  background: #FF4400;
  border-color: #FF4400;
}
.container .m_left .menuBox dd {
  margin: 0;
  display: none;
  background: #333333;
  padding: 6px 0;
}
.container .m_left .menuBox dd a {
  display: block;
  color: #d6d6d6;
  line-height: 40px;
  padding-left: 39px;
}
.container .m_left .menuBox dd a:hover {
  color: #ffffff;
  text-decoration: none;
}
.container .m_left .menuBox dd a.active {
  color: #fff;
  background: #FF4400;
}
.container .showIcon .menuBox {
  overflow: hidden;
}
.container .m_right {
  padding: 0;
  margin: 0;
}
.container .m_right .head {
  height: 50px;
  background: #f5f5f5;
}
.container .m_right .head .menuClick {
  width: 50px;
  line-height: 50px;
  text-align: center;
  cursor: pointer;
}
.container .m_right .head .menuClick i {
  color: #999999;
}
.container .m_right .head .menuClick:hover i {
  color: #0099ff;
}
.container .m_right .head .headBar {
  float: left;
  overflow: hidden;
  margin-left: 50px;
}
.container .m_right .head .headBar a {
  display: inline-block;
  height: 50px;
  line-height: 48px;
  padding: 0 20px;
  font-size: 16px;
  color: #666666;
  border-top: 2px solid #f5f5f5;
}
.container .m_right .head .headBar a.active {
  border-color: #FF4400;
  color: #FF4400;
}
.container .m_right .head .headBar a:hover {
  border-color: #FF4400;
}
.container .m_right .head .headMenu {
  float: right;
}
.container .m_right .head .headMenu li {
  float: left;
}
.container .m_right .head .headMenu li > a {
  display: inline-block;
  line-height: 50px;
  width: 50px;
  text-align: center;
  color: #666666;
}
.container .m_right .head .headMenu li > a:hover {
  color: #FF4400;
}
.container .m_right .head .headMenu li.more {
  position: relative;
  padding: 0 20px;
}
.container .m_right .head .headMenu li.more > a {
  width: auto;
  padding-right: 20px;
  line-height: 46px;
}
.container .m_right .head .headMenu li.more > a::before {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 12px;
}
.container .m_right .head .headMenu li.more > div {
  position: absolute;
  z-index: 10;
  display: none;
  width: 150px;
  background: #ffffff;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  top: 50px;
  right: 0;
  padding: 5px;
}
.container .m_right .head .headMenu li.more > div a {
  display: block;
  line-height: 30px;
  padding: 0 20px;
}
.container .m_right .head .headMenu li.more > div a:hover {
  color: #FF4400;
}
.container .m_right .treeBox {
  height: 40px;
  border: 1px solid #e6e6e6;
  overflow: hidden;
  -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
  -o-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
  position: relative;
}
.container .m_right .treeBox .treeList {
  position: absolute;
  width: calc(100% - 82px);
  left: 40px;
  top: 0px;
  height: 40px;
}
.container .m_right .treeBox .treeList .treeMain {
  height: 100%;
  position: absolute;
  left: 0;
  overflow: hidden;
}
.container .m_right .treeBox .treeList .treeMain a {
  float: left;
  height: 100%;
  line-height: 36px;
  padding: 0 20px 0 10px;
  box-sizing: border-box;
  width: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  position: relative;
  text-align: center;
  border-top: 2px solid #ffffff;
  border-right: 1px solid #e6e6e6;
  color: #666666;
}
.container .m_right .treeBox .treeList .treeMain a i {
  position: absolute;
  height: 20px;
  width: 20px;
  color: #999999;
  line-height: 20px;
  font-style: normal;
  right: 3px;
  font-size: 12px;
  top: 8px;
}
.container .m_right .treeBox .treeList .treeMain a i:hover {
  color: #FF4400;
  font-weight: 600;
}
.container .m_right .treeBox .treeList .treeMain a.active {
  border-top-color: #3a6b99;
}
.container .m_right .treeBox .home {
  width: 40px;
  line-height: 36px;
  text-align: center;
  border-right: 1px solid #e6e6e6;
  vertical-align: top;
  color: #666666;
  cursor: pointer;
  position: absolute;
  border-top: 2px solid #ffffff;
  top: 0;
  left: 0;
}
.container .m_right .treeBox .home:hover {
  color: #FF0000;
}
.container .m_right .treeBox .home.active {
  border-top-color: #3a6b99;
}
.container .m_right .treeBox .closeAll {
  width: 40px;
  line-height: 38px;
  text-align: center;
  border-left: 1px solid #d6d6d6;
  vertical-align: top;
  color: #666666;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
}
.container .m_right .treeBox .closeAll:hover {
  color: #FF0000;
}
.container .m_right .main {
  height: calc(100vh - 90px);
  overflow: hidden;
  overflow-y: scroll;
}
.topOper {
  margin-top: 15px !important;
}
.searchBox {
  margin: 15px;
  padding: 20px 0;
  border: 1px solid #e6e6e6;
}
.tableBox {
  margin: 15px;
}
.addFormModal {
  padding: 30px 0;
}
.addFormModal .row {
  margin-top: 20px;
}
.addFormModal .form-textarea {
  height: 100px;
}
.addFormModal .btnBox {
  margin-top: 30px;
  text-align: right;
}
.addFormModal .btnBox button {
  width: 120px;
}
.left {
  float: left !important;
}
.right {
  float: right !important;
}
.text-right {
  text-align: right;
}
.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
.pd15 {
  padding: 15px;
}
/*head样式*/
/*字体颜色*/
.orange {
  color: #FF4400;
}
.red {
  color: #FF0000;
}
.green {
  color: #39b54a;
}
.c333 {
  color: #333333;
}
.c666 {
  color: #666666;
}
.c999 {
  color: #999999;
}
/*字体大小*/
.fs12 {
  font-size: 12px;
}
.fs13 {
  font-size: 13px;
}
.fs14 {
  font-size: 14px;
}
.fs15 {
  font-size: 15px;
}
.fs16 {
  font-size: 16px;
}
.fs18 {
  font-size: 18px;
}
.fs20 {
  font-size: 20px;
}
.fw600 {
  font-weight: 600;
}
.fw500 {
  font-weight: 500;
}
