@charset 'utf-8';
a {
  cursor: pointer;
}
a:hover {
  color: #FF4400;
  text-decoration: none;
}
a.picBox {
  display: block;
}
html,
body {
  height: 100%;
  width: 100%;
  font-size: 14px;
}
ul,
ol,
li {
  list-style: none;
}
button i {
  font-size: 12px;
  margin-right: 5px;
}
.table thead th {
  border-width: 1px;
}
.row {
  margin: 0;
  padding: 0;
}
.row.row_col {
  -webkit-box-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
.row.row_row {
  -webkit-box-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}
/*通用调整*/
.container {
  margin: 0;
  padding: 0;
  height: 100% !important;
  width: 100% !important;
  max-width: 100% !important;
  background: #f5f5f5;
  overflow: hidden;
}
.container .header {
  background: #1951be;
}
.container .header .logo {
  width: 240px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
}
.container .header .header_right {
  padding: 0 !important;
}
.container .header .head {
  height: 50px;
}
.container .header .head .menuClick {
  width: 50px;
  line-height: 50px;
  text-align: center;
  cursor: pointer;
}
.container .header .head .menuClick i {
  color: #ffffff;
}
.container .header .head .menuClick:hover i {
  color: #ffffff;
}
.container .header .head .headBar {
  float: left;
  overflow: hidden;
}
.container .header .head .headBar a {
  display: inline-block;
  height: 50px;
  line-height: 48px;
  padding: 0 20px;
  font-size: 15px;
  color: #ffffff;
}
.container .header .head .headBar a::before {
  margin-right: 5px;
}
.container .header .head .headBar a.active {
  background: rgba(0, 0, 0, 0.1);
  color: #f5f5f5;
}
.container .header .head .headBar a:hover {
  background: rgba(0, 0, 0, 0.1);
  color: #f5f5f5;
}
.container .header .head .headMenu {
  float: right;
  margin: 0;
}
.container .header .head .headMenu li {
  float: left;
}
.container .header .head .headMenu li > a {
  display: inline-block;
  line-height: 50px;
  width: 50px;
  text-align: center;
  color: #ffffff;
}
.container .header .head .headMenu li > a:hover {
  color: #f5f5f5;
  background: rgba(0, 0, 0, 0.1);
}
.container .header .head .headMenu li.more {
  position: relative;
  padding: 0;
}
.container .header .head .headMenu li.more > a {
  width: auto;
  line-height: 46px;
  padding: 0 40px 0 20px;
}
.container .header .head .headMenu li.more > a::before {
  position: absolute;
  top: 0;
  right: 20px;
  font-size: 12px;
}
.container .header .head .headMenu li.more > div {
  position: absolute;
  z-index: 10;
  display: none;
  width: 150px;
  background: #ffffff;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  top: 50px;
  right: 0;
  padding: 5px;
}
.container .header .head .headMenu li.more > div a {
  display: block;
  line-height: 30px;
  padding: 0 20px;
}
.container .header .head .headMenu li.more > div a:hover {
  color: #FF4400;
}
.container .menuBox {
  min-height: 600px;
  overflow-y: auto;
  width: 240px;
  height: 100%;
  background: #ffffff;
}
.container .menuBox dl {
  font-size: 14px;
  margin: 0;
}
.container .menuBox dt {
  position: relative;
}
.container .menuBox dt a {
  color: #d6d6d6;
  display: block;
  height: 40px;
  line-height: 37px;
  border-left: 4px solid #222;
  padding-left: 37px;
  overflow: hidden;
}
.container .menuBox dt a:hover {
  border-color: #FF4400;
  color: #ffffff;
}
.container .menuBox dt a::before {
  position: absolute;
  line-height: 40px;
  height: 100%;
  left: 10px;
  margin-right: 10px;
}
.container .menuBox dt i {
  position: absolute !important;
  cursor: pointer;
  height: 40px;
  line-height: 40px;
  font-size: 12px;
  right: 20px;
  top: 0;
  color: #ffffff;
  -webkit-transition: all 0.3s linear 0s;
  -moz-transition: all 0.3s linear 0s;
  -ms-transition: all 0.3s linear 0s;
  -o-transition: all 0.3s linear 0s;
  transition: all 0.3s linear 0s;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
}
.container .menuBox dt i.rotate {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
.container .menuBox dt.active a {
  color: #fff;
  background: #FF4400;
  border-color: #FF4400;
}
.container .menuBox dd {
  margin: 0;
  display: none;
  background: #333333;
  padding: 6px 0;
}
.container .menuBox dd a {
  display: block;
  color: #d6d6d6;
  line-height: 40px;
  padding-left: 39px;
}
.container .menuBox dd a:hover {
  color: #ffffff;
  text-decoration: none;
}
.container .menuBox dd a.active {
  color: #fff;
  background: #FF4400;
}
.container .body_main {
  padding: 0 !important;
}
.container .treeBox {
  height: 40px;
  border-bottom: 1px solid #e6e6e6;
  overflow: hidden;
  position: relative;
}
.container .treeBox .treeList {
  height: 40px;
}
.container .treeBox .treeList .treeMain {
  height: 100%;
}
.container .treeBox .treeList .treeMain a {
  float: left;
  font-size: 13px;
  padding: 2px 16px 2px 10px;
  margin: 6px 0 6px 6px;
  border: 1px solid #e4e4e4;
  border-radius: 3px;
  background: #fff;
  box-shadow: 0 0 5px #e6e6e6;
  color: #23508e;
  width: 100px;
  line-height: 22px;
  position: relative;
}
.container .treeBox .treeList .treeMain a .icon-close-x {
  position: absolute;
  right: 5px;
  font-size: 12px;
  cursor: pointer;
}
.container .treeBox .treeList .treeMain a .icon-close-x:hover {
  color: #FF0000;
  font-weight: 600;
}
.container .treeBox .treeList .treeMain a.active {
  background-color: #1e5edb;
  color: #ffffff;
}
.container .treeBox .treeList .treeMain a.active .icon-close-x {
  color: #ffffff;
  opacity: 0.8;
}
.container .treeBox .treeList .treeMain a.active .icon-close-x:hover {
  opacity: 1;
  font-weight: 600;
}
.container .treeBox .treeList .treeMain a::before {
  margin-right: 5px;
  font-size: 14px;
}
.container .treeBox .home {
  width: 40px;
  line-height: 36px;
  text-align: center;
  border-right: 1px solid #e6e6e6;
  vertical-align: top;
  color: #666666;
  cursor: pointer;
  position: absolute;
  border-top: 2px solid #ffffff;
  top: 0;
  left: 0;
}
.container .treeBox .home:hover {
  color: #FF0000;
}
.container .treeBox .home.active {
  border-top-color: #3a6b99;
}
.container .treeBox .closeAll {
  width: 40px;
  line-height: 38px;
  text-align: center;
  border-left: 1px solid #d6d6d6;
  vertical-align: top;
  color: #666666;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
}
.container .treeBox .closeAll:hover {
  color: #FF0000;
}
.container .showIcon .menuBox {
  overflow: hidden;
}
.topOper {
  margin-top: 15px !important;
}
.searchBox {
  margin: 15px;
  padding: 20px 0;
  border: 1px solid #e6e6e6;
}
.tableBox {
  margin: 15px;
}
.addFormModal {
  padding: 30px 0;
}
.addFormModal .row {
  margin-top: 20px;
}
.addFormModal .form-textarea {
  height: 100px;
}
.addFormModal .btnBox {
  margin-top: 30px;
  text-align: right;
}
.addFormModal .btnBox button {
  width: 120px;
}
.left {
  float: left !important;
}
.right {
  float: right !important;
}
.text-right {
  text-align: right;
}
.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
.pd15 {
  padding: 15px;
}
/*head样式*/
/*字体颜色*/
.orange {
  color: #FF4400;
}
.red {
  color: #FF0000;
}
.green {
  color: #39b54a;
}
.c333 {
  color: #333333;
}
.c666 {
  color: #666666;
}
.c999 {
  color: #999999;
}
/*字体大小*/
.fs12 {
  font-size: 12px;
}
.fs13 {
  font-size: 13px;
}
.fs14 {
  font-size: 14px;
}
.fs15 {
  font-size: 15px;
}
.fs16 {
  font-size: 16px;
}
.fs18 {
  font-size: 18px;
}
.fs20 {
  font-size: 20px;
}
.fw600 {
  font-weight: 600;
}
.fw500 {
  font-weight: 500;
}
